<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="{{page.author}}">
    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{page.keywords}}">
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      .file-list {
        list-style-type: none;
        padding-left: 0px;
      }
      .file-item-span {
        margin-right: 6px; color: gray
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>{{title}}</h1>
              <h2>{{name}}</h2>
              <hr>
              <p>{{description}}</p>
              {{#if infopack.package.homepage}}
              <a href="{{infopack.package.homepage}}">Källinformation</a>
              {{/if}}
              <h3>Filförteckning</h3>
              <ul class="file-list">
                  {{#each files}}
                  <li>{{#if dirname}}<span class="file-item-span">{{dirname}}{{/if}}</span><a href="{{metaHtmlPath}}"><strong title="{{filename}}">{{title}}</strong></a> - {{description}}</li>
                  {{/each}}
              </ul>
              {{#if readme}}
              <hr>
              README
              {{{readme}}}
              {{/if}}

              <a href="./index.json">Se meta fil</a>

              <footer>
                  <hr>
                  <small>Denna publicering är automatgenererad {{packagedAt}} från ver. {{version}}</small>
              </footer>
          </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
